[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/zrclzrcl/AFLplusplus.git
